<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="js/bootstrap.js">
    </head>
    <header>
        <div class="container-fluid">
            <div class="row pb-5">
                <div class="col-xl-1 mt-2">
                    <img id="imgLogo" src="images/logo.png">
                </div>
                <div class="col-xl-11 mt-2">

                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="container-fluid">
            <div id="divContent" class="row">
                <!-- Items div -->
                <div class="col-xl-1 pl-5 mt-5">
                    <div class="row pb-2">
                        <div class="col">
                            <a href="suspects.html" target="targetframeindex"><img src="images/suspects-icon.png" ></a>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col">
                            <a href="cache/report_images.html" target="targetframeindex"><img src="images/cache-icon.png" ></a>
                        </div>
                    </div>
                </div>
                <!-- Contents div -->
                <div id="divFrame" style="height: 900px;" class="col-xl-11">
                    <iframe id="iframe" src="suspects.html" name="targetframeindex" allowTransparency="true" frameborder="0"></iframe>
                    </iframe>
                </div>
            </div>
        </div>
        <script src="/js/axios.js"></script>
        <script src="/js/download_buttons.js"></script>
    </body>
</html>