<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../js/bootstrap.js">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <header>
    </header>
    <body>
        <div class="container-fluid">
            <div id="divContent" class="row">
                <!-- Items div -->
                <div class="col-xl-1 pl-5 mt-5">
                    <div class="row pb-2">
                        <div class="col">
                            <a href="contacts.html" alt="Contacts" title="Contacts" target="targetframeindex"><img src="../images/contacts-icon.png" ></a>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col">
                            <a href="conversations.html" alt="Conversations" title="Conversations" target="targetframeindex"><img src="../images/conversations-icon.png" ></a>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col">
                            <a href="undark.html" alt="Deleted records" title="Deleted records" target="targetframeindex"><img src="../images/undark-icon.png" ></a>
                        </div>
                    </div>
                </div>
                <!-- Contents div -->
                <div id="divFrame" style="height: 900px;" class="col-xl-11">
                    <iframe id="iframe" src="contacts.html" name="targetframeindex" allowTransparency="true" frameborder="0"></iframe>
                    </iframe>
                </div>
            </div>
        </div>
        <script src="../js/axios.js"></script>
        <script src="../js/download_buttons.js"></script>
    </body>
</html>