<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>Contacts</title>
</head>
<body>
	<header>
		<!-- XXX <button id="show_hide_contact_images" type="button">Show Images</button> -->
		<button id="csv" type="button">Export to CSV</button>
	</header>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Photo</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<!-- XXX <script src="js/show_hide_contact_images.js"></script> -->
	<script src="js/axios.js"></script>
	<script src="js/csv.js"></script>
	<script src="js/download_buttons.js"></script>
</body>
</html>