<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <header>         
    </header>
    <body>
        <div class="container-fluid">
            <div id="divContent" class="row">
                <!-- Items div -->
                <div class="col-xl-6 mt-2">
                    <table></table>
                </div>
                <div class="col-xl-6">
                </div>
            </div>
        </div>
    </body>
</html>