<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="js/bootstrap.js">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>Cached images</title>
</head>
<body>
	<header>
		<button id="csv" type="button">Export to CSV</button>
	</header>
	<table>
		<thead>
			<tr>
                <th>Source Directory</th>
                <th>File [Offset]</th>
				<th>Date Accessed</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<script src="js/axios.js"></script>
	<script src="js/csv.js"></script>
	<script src="js/download_buttons.js"></script>
</body>
</html>