<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>Messages</title>
</head>
<body>
	<header>
		<button id="csv" type="button">Export to CSV</button>
	</header>
	<table>
		<tr>
			<th>DateTime</th>
			<th>Sender</th>
			<th>Message</th>
			<th>Reaction</th>
			<th>Reaction Sender</th>
		</tr>
	</table>
	<script src="../js/axios.js"></script>
	<script src="../js/csv.js"></script>
	<script src="../js/download_buttons.js"></script>
</body>
</html>