
/* header */

#imgLogo {
    margin-top: 20px;
    margin-left: 50px;
  }

#imgSuspect{
    width: 80px;
    margin-left: -20px; 
    margin-top: -15px; 
    border-radius: 50%;
}

#csv{
    cursor: pointer;
}

#back{
    cursor: pointer;
}

#navbar{
    border-radius: 50px;
}

/* body */

body{
    overflow-x:hidden;
}
  
tbody{
    margin-top: -30px;
}

#divContent{
    height: 650px;
}

#divFrame{
    height: 700px;
    /* overflow-y: hidden; */
}

#iframe{
    width:100%; 
    height: 87%;
}

#imgContact{
    width: 50px;
    border-radius: 50%;
}

#imgParticipant{
    width: 50px;
    margin-left: -100px;
    border-radius: 50%;
}

#tableMessages{
    display: none;
}

.fast-button{
    border-radius: 50px;
}

#tableContacts thead{
    display: none;
}

#divMessage{
    max-width: 80%;
}

#divMessageContentSuspect{
    border-radius: 50px 50px 0px 50px;
    padding: 5px;
}

#divMessageContentVictim{
    border-radius: 50px 50px 50px 0px;
    padding: 5px;
}

#divConversations{
    max-height: 550px;
    overflow-y: auto;
}

/* footer */
